
body {
    background-color: #333333;
}

.main {
    left : 10%;
    top : 10%;
    font-family: 'Nanum Gothic';
    font-size : 30px;
}

li {
    padding : 10px;
    color : grey;
}

a {
    color : lightgray;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:visited {
    color: lightgray;
}
