
body {
    background-color: #333333;
}

.main {
    margin-left : 20px;
    margin-top : 20px;
    font-size : 25px;
}

li {
    padding : 20px;
    width: 500px;
    color : grey;
    border: 1px solid grey;
    border-radius: 10px;
    margin : 30px;
    list-style: none;

}

li:hover {
    background-color: rgb(30, 30, 30);
}

a {
    color : lightgray;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:visited {
    color: lightgray;
}
